@font-face {
  font-family: 'air-black';
  src: url('../../fonts/air-black.ttf') format('truetype');
  font-weight: 900;
  font-display:swap;
  font-style: black;
}

@font-face {
  font-family: 'Airbnb-bold';
  src: url('../../fonts/AirbnbCerealBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Airbnb-book';
  src: url('../../fonts/AirbnbCerealBook.ttf') format('truetype');
}

@font-face {
  font-family: 'Airbnb-exbold';
  src: url('../../fonts/AirbnbCerealExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Airbnb-light';
  src: url('../../fonts/AirbnbCerealLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Airbnb-mediun';
  src: url('../../fonts/AirbnbCerealMedium.ttf') format('truetype');
}


@font-face {
  font-family: "Circular Std Book";
  src: url("../../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "D-DIN Condensed";
  src: url("../../fonts/D-DINCondensed-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../../fonts/MarkPro-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

